{% load static %}
<nav class="navbar navbar-expand-lg bg-body- tertiary"> 
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Training Registration</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'course_list' %}">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'course_create' %}">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>

              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" style="color: aqua;" href="{% url 'account_logout' %}">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_change_password' %}">Change Password</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" src="{% static 'images/avatar.svg'%}" width="30px" href="{% url 'account_login' %}">UserLogo</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: red;" href="{% url 'account_login' %}">Sing In</a>
              </li>
              {% endif %}    
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</nav> 
{% comment %} <div>
  <strong>{% trans "Menu:" %}</strong>
  <ul>
  {% if user.is_authenticated %}
  <li><a href="{% url 'account_email' %}">{% trans "Change E-mail" %}
  </a></li><li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
  </li>
  {% else %}
  <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
  <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
  </li>
  {% endif %}
  </ul>
  </div> {% endcomment %}